/* Mobile area */
@media (max-width: 1000px) {

    .active-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
    }

    /* head area */
    header {
        .hero {
            .hero-img {
                flex: auto;
            }
        
            .hero-desc{
                flex: auto;
            }
        }
    }

    header {
        .hero {
           @include flex($direction: column);

            //At 700px the navigation will change into mobile layout mode
            @media (max-width: 700px) {

              nav {
                  @include flex($justify: center);
                  left: 0;
                  width: 100%;

                  #mb-button {
                      display: flex;
                  }
              }

              #mb-overlay.active {
                  position: fixed;
                  inset: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $color-pri-black;
                  cursor: pointer;
                  opacity: 0.8;
              }
              
              nav ul {
                  @include flex($justify: center, $align: center);

                  position: absolute;
                  width: 100%;
                  height: 15vh;

                  transition: 0.3s;
                  transform: translateY(-150%);

                  cursor: pointer;

                  background-color: $color-pri-white;

                  a {
                      color: $color-pri-very-dark-gray;
                  }


                  #expand-list-mb-button{
                      position: absolute;
                      height: 22px;
                      width: 32px;
                      display: flex;
                      top: 3.6em;
                      left: 1.5em;

                      flex-direction: column;
                      justify-content: space-between;
                  }

                  .expand-list-bar {
                      height: 3px;
                      width: 100%;
                      background-color: $color-pri-white;
                  }

                  .expand-list-bar:nth-child(1){
                      background-color: $color-pri-dark-gray;
                      transform: translateY(300%) rotate(-45deg) ;
                  }
                  .expand-list-bar:nth-child(2){
                      background-color: $color-pri-dark-gray;
                      transform: scale(0);
                  }
                  .expand-list-bar:nth-child(3){
                      background-color: $color-pri-dark-gray;
                      transform: translateY(-300%) rotate(45deg);
                  }
              }

              nav ul.active {
                  transition: 0.3s;
                  transform: translateY(-44%);
              }

               @media (max-width: 350px) {
                  nav ul {
                    @include flex($direction: column, $justify: center, $align: center);
                    height: 100vh;

                    transform: translateY(-110%);
                  }

                  nav ul.active {
                    transform: translateY(-4.4%);
                  }
              }
            }

            .hero-desc {
                @include flex_item_reset();
                @include flex($direction: column, $align: center);
                position: relative;

                .hero-desc-detail{
                    align-self: center;
                    width: 65%;

                    .hero-desc-tittle{
                        text-align: center;
                        font-size: 1.6em;
                    }

                    .hero-desc-intro {
                        line-height: 1.5;
                    }

                    .hero-desc-shop-container {
                        align-self: center;
                    }

                }

                #picture-carousel-buttons {
                    position: absolute;
                    top: -3.6em;
                    right: 0;

                    a {
                        padding: 1.2em;
                        font-size: 1em;
                    }
                }
            }

            @media (max-width: 700px){
                .hero-desc{
                    .hero-desc-detail{
                        width: 85%;
                   }
                }
            }
    }
}

    /* main area */
    main {
        .about {
             @include flex($direction: column, $align: center);
            .img-light,
            .img-dark {
                flex: 1;
            }

            .img-dark,
            .img-light{
                width: 100%;
                height: auto;
            }

            .img-dark,
            .img-light{
                height: auto;
                max-width: 625px;
            }

            .about-desc{
                flex: 1;
            }

            .about-desc {
                gap: 20px;
                width: 65%;

                .about-desc-tittle {
                    font-size: 1.1em;
                    text-align: center;
                }

                .about-desc-par {
                     text-align: center;
                     line-height:  1.5;
                }
            }

            @media (max-width: 700px){
                .about-desc{
                     width: 85%;
                    .about-desc-tittle {
                         font-size: 1em;
                         text-align: center;
                     }
                }
            }
        }
     }
}