/* Some varibles */
/*Front-end Style Guide
## Layout
*/
/*Colors*/
/*Primary*/
/*
## Typography
### Body Copy
*/
/*### Font*/
/* General reset */
h1,
h3,
p, ul li, ul, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* General content-wraper class to extends */
body {
  max-width: 1440px;
  margin: 0 auto;
}

/* General mixin */
/* Typography namespace */
main .about .about-desc, .hero .hero-desc .hero-desc-detail, .hero nav a,
.hero nav .nav-logo {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
}

main .about .about-desc .about-desc-par {
  font-size: 12px;
  color: hsl(0deg, 0%, 63%);
}

/* Body area */
body header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
}
/* Header area */
/** Hero section **/
.hero {
  flex: 1;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: none;
  /*** Hero image ****/
  /* navigation */
  /* The items */
  /* The fucking hamburger */
  /*--------------------------------*/
  /* Hero description section */
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img ul[data-carousel] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}
.hero .hero-img ul[data-carousel] li {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: -2;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.hero .hero-img ul[data-carousel] li[data-active-img] {
  z-index: -1;
  transition-delay: 0ms;
  opacity: 1;
}
.hero .hero-img img {
  width: 100%;
  height: 100%;
}
.hero nav {
  position: absolute;
  top: 8%;
  left: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 40px;
}
.hero nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 20px;
}
.hero nav ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  /* The border when hover */
  position: relative;
  padding: 7px;
}
.hero nav ul li:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
  width: 30%;
}
.hero nav a,
.hero nav .nav-logo {
  color: hsl(0deg, 0%, 100%);
}
.hero nav .nav-logo {
  font-size: 2.3em;
}
.hero nav {
  position: absolute;
}
.hero nav #mb-button {
  position: absolute;
  height: 22px;
  width: 32px;
  top: 0.5em;
  left: 1.5em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hero nav .mb-button-bar {
  height: 3px;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
}
.hero .hero-desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
}
.hero .hero-desc .hero-desc-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 25px;
  padding: 6vw;
  font-weight: 700;
}
.hero .hero-desc .hero-desc-detail ul[data-carousel-detail] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.hero .hero-desc .hero-desc-detail ul[data-carousel-detail] li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 25px;
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0;
  z-index: -1;
  transition: 25ms opacity ease-in-out;
  transition-delay: 25ms;
}
.hero .hero-desc .hero-desc-detail ul[data-carousel-detail] li[data-active-detail] {
  transition-delay: 0ms;
  opacity: 1;
  z-index: 0;
}
.hero .hero-desc .hero-desc-detail .hero-desc-tittle {
  color: hsl(0deg, 0%, 0%);
  font-size: 2.5em;
}
.hero .hero-desc .hero-desc-detail .hero-desc-intro {
  color: hsl(0deg, 0%, 63%);
  font-size: 12px;
  line-height: 1.25;
  word-spacing: 2px;
}
.hero .hero-desc .hero-desc-detail .hero-desc-shop-container a {
  letter-spacing: 10px;
  color: hsl(0deg, 0%, 27%);
}
.hero .hero-desc .hero-desc-detail .hero-desc-shop-container a:hover {
  color: hsl(0deg, 0%, 63%);
}
.hero .hero-desc .hero-desc-detail .hero-desc-shop-container a:hover img {
  opacity: 0.5;
}
.hero .hero-desc #picture-carousel-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
}
.hero .hero-desc #picture-carousel-buttons a {
  border: none;
  background-color: hsl(0deg, 0%, 0%);
  padding: 0.85em;
  color: hsl(0deg, 0%, 63%);
  font-size: 1.5em;
}
.hero .hero-desc #picture-carousel-buttons a:hover {
  background-color: hsl(0deg, 0%, 27%);
}
.hero .hero-desc #picture-carousel-buttons a:focus {
  outline: 1px solid hsl(0deg, 0%, 27%);
}

/* The main area */
main .about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
}
main .about .img-light,
main .about .img-dark {
  flex: 1;
}
main .about .about-desc {
  flex: 1.5;
}
main .about .about-desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  gap: 20px;
  padding: 5vh 3.5vw;
}
main .about .about-desc .about-desc-tittle {
  letter-spacing: 3.5px;
  font-weight: 700;
  font-size: 1.3em;
  color: hsl(0deg, 0%, 0%);
}
main .about .about-desc .about-desc-par {
  font-size: 12px;
  font-weight: 700;
  color: hsl(0deg, 0%, 63%);
  line-height: 1.25;
}

/* Mobile area */
@media (max-width: 1000px) {
  .active-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  /* head area */
  header .hero .hero-img {
    flex: auto;
  }
  header .hero .hero-desc {
    flex: auto;
  }
  header .hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
  }
  /* main area */
}
@media (max-width: 1000px) and (max-width: 700px) {
  header .hero nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    left: 0;
    right: 0;
    width: 100%;
  }
  header .hero nav #mb-button {
    display: flex;
  }
  header .hero #mb-overlay.active {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg, 0%, 0%);
    cursor: pointer;
    z-index: 1;
    opacity: 0.8;
  }
  header .hero nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 15vh;
    transition: 0.3s;
    transform: translateY(-120%);
    cursor: pointer;
    background-color: hsl(0deg, 0%, 100%);
  }
  header .hero nav ul a {
    color: hsl(0deg, 0%, 27%);
  }
  header .hero nav ul #expand-list-mb-button {
    position: absolute;
    height: 22px;
    width: 32px;
    display: flex;
    top: 40%;
    left: 5%;
    flex-direction: column;
    justify-content: space-between;
  }
  header .hero nav ul .expand-list-bar {
    height: 3px;
    width: 100%;
    background-color: hsl(0deg, 0%, 100%);
  }
  header .hero nav ul .expand-list-bar:nth-child(1) {
    background-color: hsl(0deg, 0%, 63%);
    transform: translateY(300%) rotate(-45deg);
  }
  header .hero nav ul .expand-list-bar:nth-child(2) {
    background-color: hsl(0deg, 0%, 63%);
    transform: scale(0);
  }
  header .hero nav ul .expand-list-bar:nth-child(3) {
    background-color: hsl(0deg, 0%, 63%);
    transform: translateY(-300%) rotate(45deg);
  }
  header .hero nav ul.active {
    transition: 0.3s;
    transform: translateY(-18%);
  }
}
@media (max-width: 1000px) and (max-width: 700px) and (max-width: 350px) {
  header .hero nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(-110%);
  }
  header .hero nav ul.active {
    transform: translateY(-3.4%);
  }
}
@media (max-width: 1000px) {
  header .hero .hero-desc {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    position: relative;
  }
  header .hero .hero-desc .hero-desc-detail {
    align-self: center;
    width: 65%;
  }
  header .hero .hero-desc .hero-desc-detail .hero-desc-tittle {
    text-align: center;
    font-size: 1.6em;
  }
  header .hero .hero-desc .hero-desc-detail .hero-desc-intro {
    line-height: 1.5;
  }
  header .hero .hero-desc .hero-desc-detail .hero-desc-shop-container {
    align-self: center;
  }
  header .hero .hero-desc #picture-carousel-buttons {
    position: absolute;
    top: -3.6em;
    right: 0;
  }
  header .hero .hero-desc #picture-carousel-buttons a {
    padding: 1.2em;
    font-size: 1em;
  }
}
@media (max-width: 1000px) and (max-width: 700px) {
  header .hero .hero-desc .hero-desc-detail {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  main .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
  }
  main .about .img-light,
main .about .img-dark {
    flex: 1;
  }
  main .about .img-dark,
main .about .img-light {
    width: 100%;
    height: auto;
  }
  main .about .img-dark,
main .about .img-light {
    height: auto;
    max-width: 625px;
  }
  main .about .about-desc {
    flex: 1;
  }
  main .about .about-desc {
    gap: 20px;
    width: 65%;
  }
  main .about .about-desc .about-desc-tittle {
    font-size: 1.1em;
    text-align: center;
  }
  main .about .about-desc .about-desc-par {
    text-align: center;
    line-height: 1.5;
  }
}
@media (max-width: 1000px) and (max-width: 700px) {
  main .about .about-desc {
    width: 85%;
  }
  main .about .about-desc .about-desc-tittle {
    font-size: 1em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
